.work-page {
}
.work-layer {
  display: grid;

  .main-page-text {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      font-size: 26px;
      line-height: 24px;
    }
    .desc {
      font-size: 15px;
      font-weight: var(--weight-regular);
      line-height: 150%;
      color: var(--text-color-gray);
    }
  }
}

@media only screen and (min-width: 992px) {
  .work-layer {
    gap: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .work-layer {
    gap: 64px;
  }
}
